<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to unlock Money Manager and protect your financial data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is saved with new transactions so you can see where you spent money. You can turn this off in Settings.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
